*{
    font-family: 'Jura', sans-serif;
}

:root{
    --main-color: #5d0079;
    --sec-color: #65466f;
    --accent-color: rgb(193, 170, 0);
}


.tx-main {
    color: var(--main-color) !important;
}

.tx-sec {
    color: var(--sec-color) !important;
}

.tx-accent {
    color: var(--accent-color) !important;
}

.tx-w {
    color: white !important;
}

.b-nav{
    background-color: #F8F9FA;
}

.banderas {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 8px var(--sec-color); 
    border-radius: 50%;
}

.head {
    height: 100vh;
    min-height: 500px;
    background: url('/images/Group 3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    background: linear-gradient(to right, var(--main-color), var(--accent-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-footer {
    position: relative;
    overflow: hidden;
  }
  
.bg-footer::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 70%;
    bottom: -120px;
    right: -60px;
    background: linear-gradient(120deg, #f3f3f3, #f3f3f3) padding-box, linear-gradient(120deg, var(--main-color), var(--accent-color)) border-box;
    border: 4px solid transparent;
    border-radius: 50px 0 0 50px;
    z-index: -1;
    opacity: 0.2;
    transform: rotate(50deg);
  }




